<div>
  <body style="background-color:rgb(230, 213, 176); width:fit">
    <h1 style="color:rgb(242, 111, 111);">Welcome to My YouTube System </h1>
    <input type ="text" placeholder="Search videos..." [(ngModel)] = "searchQuery" (keyup.enter)="searchVideos()">
    <img src="assets/Search.png" width="28px">
  
    <img src="assets/Spotify.jpg" class="img-fluid mb-4" style="width: 2000px; height: 500px">
    <div class="row">
<div class="col">
  <h1 style="color:rgb(242, 111, 111);"> Explore the Trending Videos On Youtube</h1>
  <img src="assets/Ahyeon.png" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
<em>"Madison Beer - Home To Another One"</em> (--)
<a href="https://youtu.be/xw7Y2gviWbA?list=RDGMEMQ1dJ7wXfLlqCjwV0xfSNbA">
  <button type="button" class="btn btn-secondary">Watch</button>
</a>

  <div class="col">
    <img src="assets/IU.jpg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
  <em>"[MV] IU(아이유) _ eight(에잇) (Prod.&Feat. SUGA of BTS)"</em> (--)
  <a href="https://youtu.be/TgOu00Mf3kI">
    <button type="button" class="btn btn-secondary">Watch</button>
  </a>

    <div class="col">
      <img src="assets/Lesserafim.jpg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
    <em>"LE SSERAFIM (르세라핌) 'EASY' OFFICIAL MV"</em> (--)
    <a href="https://youtu.be/bNKXxwOQYB8">
      <button type="button" class="btn btn-secondary">Watch</button>
    </a>

</div>
</div>
  </div>



 
  


