<div class="container d-flex justify-content-center">
    <div class="col-md-8">
      <h2 class="mt-4 mb-3">Search Results for "{{ query }}"</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm" *ngFor="let video of videos">
            <img [src]="video.snippet.thumbnails.default.url" class="card-img-top" alt="Video Thumbnail">
            <div class="card-body">
              <h5 class="card-title">{{ video.snippet.title }}</h5>
              <p class="card-text">{{ video.snippet.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                  <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank"  class="btn btn-sm btn-outline-secondary">Watch</a>
                </div>
                <small class="text-muted">Channel: {{ video.snippet.channelTitle }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  