<div>
    
    <h2>Enjoy the videos and music you love and share it all with friends, family, and the world on YouTube</h2>  
    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
</style>
</head>
<body style="background-color:rgb(230, 213, 176); width:fit">

<div class="scroll-container">
  <img src="assets/yt Music.png" alt="Youtube Music" width="600" height="400">
  <img src="assets/yt Drama.jpeg" alt="Forest" width="600" height="400">
  <img src="assets/yt Entertain.jpg" alt="Northern Lights" width="600" height="400">
  <img src="assets/yt Knowledge.jpg" alt="Mountains" width="600" height="400">
</div>

<h1>Our Vision</h1>
<p>Our mission is to produce and distribute visual media that communicates in convincing way, that connects with contemporary audiences. We rejoice as we approach together. Today we offer more video  for all age groups. Selections include drama, documentary, children’s programing curriculum, and rare historical program among the many genres. The programs offered on this website. </p>

</body>
</html>
 
</div>